.footer-rekomine{
  background: #FFFFFF;
}

.div-gray{
  background-color: #fafafa !important;
}

.div-gray2{
  background-color: #000000 !important;
}

.div-white{
  background-color: #FFFFFF;
}

.color-black{
  color: #000000 !important;
}

.rekomine-title{
  color:#FFFFFF;
  font-size:28px;
  font-weight: bold;
  padding-bottom: 15px;
}

.div-rekomine-title{
  padding-top: 70px;
}

.contactus_error{
  padding: 5px;
  color: red;
}
